<div class="appHeader__wrapper">
  <div  class="appHeader__mainHeaderWrapper">
    <div class="appHeader__appNameWrapper">
      <div class="appHeader__logo">
        <div class="appHeader__logoOval">

        </div>
        <div class="appHeader__logoTriangle">

        </div>
      </div>
      <div class="appHeader__logoText">
        video  course
      </div>
    </div>
    <div class="appHeader__loginControlWrapper">
      <div class="appHeader__loginButton">
        User login
      </div>
      <div class="appHeader__loginButton">
        Log out
      </div>
    </div>
  </div>
  <app-breadcrumbs/>
</div>
